.box {
  width: 1000px;
  padding: 20px;
  margin-bottom: 20px;
  border: 2px solid black;
  border-radius: 8px;
  background-color: rgb(245, 212, 159);
}

.me {
  font-size: 18px;
  font-style: italic;
}

li {
  margin: 5px;
  font-size: 18px;
}

.section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
img {
  border-radius: 8px;
  width: 220px;
  height: 220px;
  float: right;
}
.date {
  font-weight: bold;
  font-size: 18px;
}
