.box {
height: 300px;
width: 800px;
padding: 20px;
margin-bottom: 20px;
border: 2px solid black;
}

li{
  margin: 5px;
} 

.section-header{ 
  display: flex;
align-items: center;
justify-content: space-between;
}

.Main{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
img{
  Width: 80px;
  Height: 90px;
  float: right;
}
